<app-navbar></app-navbar>

<div class="home-container">
  <div class="main-content animate__animated animate__fadeInUp">

    <div class="main-content animate__animated animate__fadeInUp">
      <div class="thumb-container">
        <img src="../assets/thumb.png" alt="Profile image" class="thumb-image">
      </div>
    </div>
  
    <div class="text-container">
      <h1>Become a professional programmer with ThangNV</h1>
      <p>Hi guys. I'm ThangNV and My nickname is CodeCraf. I'm twenty years old and i come from Ha Noi.
        I'm a freshman in VNU University of Science.
        Although i'm majoring in Computer Science but i have a passion for the web.
        I'm here so that i want to tell you about everything which especially relate to technology.
      </p>
    </div>
  </div>


  <div>
    <div> 
      <div id="skills-section" class="skills-section animate__animated animate__fadeInUp">
        <p style="font-size: 30px;color:#6b08a6;font-weight: bold;">My Skills</p>
      </div>
      <div class="card-container">
        <!-- Angular -->
        <mat-card class="example-card animate__animated animate__fadeInUp">
          <mat-card-header class="row align-items-center">
            <p style="font-weight: bold; color: #ff0000 ;">Angular</p>

          </mat-card-header>
          <img mat-card-image src="../assets/angular.png" alt="Image" class="image-container img" class="thumb-container">
          <mat-card-content>
            <p>Helps developers build dynamic, single-page web applications.</p>
          </mat-card-content>
          <button onclick="window.location.href='https://en.wikipedia.org/wiki/Angular_(web_framework)'">Know More..</button>
        </mat-card>

        <!-- ReactJS -->
        <mat-card class="example-card animate__animated animate__fadeInUp">
          <mat-card-header class="row align-items-center">
            <p style="font-weight: bold;color:#ff0000 ;">ReactJS</p>
          </mat-card-header>
          <img mat-card-image src="../assets/react.png" alt="Image" class="thumb-container">
          <mat-card-content>
            <p>JS library for building user interfaces, particularly for SPA's.</p>
          </mat-card-content>
          <button onclick="window.location.href='https://en.wikipedia.org/wiki/React_(JavaScript_library)'">Know More..</button>
        </mat-card>

        <!-- Java -->
        <mat-card class="example-card animate__animated animate__fadeInUp">
          <mat-card-header class="row align-items-center">
            <p style="font-weight: bold;color:#ff0000 ;">Java</p>
          </mat-card-header>
          <img mat-card-image src="../assets/java.png" alt="Image" class="thumb-container">
          <mat-card-content>
            <p>Java is designed to be platform-independent.</p>
          </mat-card-content>
          <button onclick="window.location.href='https://en.wikipedia.org/wiki/Java_%28programming_language%29'">Know More..</button>
        </mat-card>



      </div>
    </div>
  </div>

</div>


<app-footer></app-footer>